/* =====================
   Global Variables
   ===================== */
:root {
     --abso-black: #000000;
     --abso-white: #ffffff;

     --gray-1: #fffbf0;
     --gray-2: #c0c0c0;
     --gray-3: #a0a0a4;
     --gray-4: #808080;

     --dull-red: #800000;
     --dull-green: #008000;
     --dull-yellow: #808000;
     --dull-blue: #000080;
     --dull-pink: #800080;
     --dull-teal: #008080;

     --vibr-red: #ff0000;
     --vibr-green: #00ff00;
     --vibr-yellow: #ffff00;
     --vibr-blue: #0000ff;
     --vibr-pink: #ff00ff;
     --vibr-teal: #00ffff;

}

/* =====================
   Global Reset
   ===================== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "MS Sans Serif",Tahoma,Verdana,Segoe,sans-serif; 
  background-color: var(--gray-2);
  color: black;
}

.inactive {
  display: none;
}




/* =====================
   Bottom Bar
   ===================== */
#bottomBar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 5vh;
  overflow: visible;
  background-color: var(--gray-2);

  border-top: 1px;
  border-bottom: 1px;
  border-style: solid None solid None;
  border-top-color: var(--gray-1);
  border-bottom-color: var(--gray-4);
}

#start-menu-button {
  background-color: var(--gray-2);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-1) var(--gray-4) var(--gray-4) var(--gray-1);
  cursor: pointer;

  position: relative;
  left: 1vw;
  top: 1vh;
  width: 5vw;
  height: 3vh;
}

#start-menu-button:active {
  border-style: dotted;
  border-color: var(--gray-4) var(--gray-1) var(--gray-1) var(--gray-4);
}


#start-menu {
  position: fixed;
  left: 0;
  bottom: 5vh;
  z-index: 500;
  height: 50vh;
  width: 25vw;

  background-color: var(--gray-2);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-1) var(--gray-4) var(--gray-4) var(--gray-1);  
}







/* =====================
   Desktop
   ===================== */

#desktop-container {
  width: 100vw;
  height: 95vh;
  position: fixed;
  overflow: hidden;
  background-color: var(--dull-teal);
}

#desktop-container table {
  border-collapse: collapse;
}

#desktop-container tr {
  height: 5vh;
}

#desktop-container td {
  width: 5vw;
}

.desktop-app {
  width: 100%;
  height: 100%;
}

.desktop-child {
  position: absolute;
  height: 100%;
  width: 100%;
}


/* =====================
   Drag and Drop API
   ===================== */

/* Styling for the app while it is being dragged */
.desktop-app.dragging {
    background-color: rgba(173, 216, 230, 0.6) !important; /* Light blue */
    opacity: 0.5;
    border-radius: 4px; /* Optional: makes the background look cleaner */
}















